In [2]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in d:\fdm_mini\model\env\lib\site-packages (1.23.4)
Requirement already satisfied: pandas in d:\fdm_mini\model\env\lib\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.20.3 in d:\fdm_mini\model\env\lib\site-packages (from pandas) (1.23.4)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\fdm_mini\model\env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\fdm_mini\model\env\lib\site-packages (from pandas) (2022.5)
Requirement already satisfied: six>=1.5 in d:\fdm_mini\model\env\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [3]:
import numpy as np
import pandas as pd

In [4]:
url = "https://raw.githubusercontent.com/Dewmini99/FDM-mini_project/master/vehicle_data.csv"
data = pd.read_csv(url, encoding='latin-1')
data.head()

C:\Users\hasin\AppData\Local\Temp\ipykernel_21400\3269314346.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(url, encoding='latin-1')

,Title,Sub_title,Price,Brand,Model,Edition,Year,Condition,Transmission,Body,Fuel,Capacity,Mileage,Location,Description,Post_URL,Seller_name,Seller_type,published_date
0,Honda Vezel Limited 2017 for sale,"Posted on 01 Sep 2:45 pm, Kurunegala City, Kur...","Rs 12,900,000",Honda,Vezel,Limited,2017,Used,Automatic,SUV / 4x4,Hybrid,"1,500 cc","37,000 km","Kurunegala City, Kurunegala",HONDA VEZEL LIMITEDCBE-XXXXMANU YEAR : 2017LIM...,https://ikman.lk/en/ad/honda-vezel-limited-201...,Prasad Enterprises,Premium-Member,2022-09-01 14:45:00
1,Jaguar XF Fully Loaded 2013 for sale,"Posted on 28 Sep 10:23 am, Kurunegala City, Ku...","Rs 16,250,000",Jaguar,XF,Fully Loaded,2013,Used,Automatic,Saloon,Diesel,"2,200 cc","42,000 km","Kurunegala City, Kurunegala",1st owner(registered owner)Diesel(13-14km per ...,https://ikman.lk/en/ad/jaguar-xf-fully-loaded-...,Dhanushka Dharmasri,Member,2022-09-28 10:23:00
2,Toyota CHR GT New Face 2wd 2020 for sale,"Posted on 16 Sep 1:16 pm, Colombo 7, Colombo","Rs 17,000,000",Toyota,CHR,GT New Face 2wd,2020,Used,Automatic,SUV / 4x4,Petrol,"1,200 cc","15,000 km","Colombo 7, Colombo",2020 Facelift modelFirst owner (No previous ow...,https://ikman.lk/en/ad/toyota-chr-gt-new-face-...,Carzone Lanka,Member,2022-09-16 13:16:00
3,Toyota CHR Toyato 2017 for sale,"Posted on 30 Sep 10:12 am, Colombo 7, Colombo","Rs 13,000,000",Toyota,CHR,Toyato,2017,Used,Automatic,SUV / 4x4,Petrol,"1,200 cc","21,000 km","Colombo 7, Colombo",Toyota CHR GT Turbo1st owner Imported as a bra...,https://ikman.lk/en/ad/toyota-chr-toyato-2017-...,Carzone Lanka,Member,2022-09-30 10:12:00
4,Toyota Land Cruiser Prado 2015 for sale,"Posted on 30 Sep 9:50 pm, Kelaniya, Gampaha","Rs 33,500,000",Toyota,Land Cruiser Prado,prado,2015,Used,Automatic,SUV / 4x4,Petrol,"2,700 cc","57,000 km","Kelaniya, Gampaha",Toyota Land Cruiser Prado 20152 nd Owner for 5...,https://ikman.lk/en/ad/toyota-land-cruiser-pra...,Shine Music Center,Member,2022-09-30 21:50:00

In [5]:
data.shape

(123971, 19)

In [7]:
data.isnull().sum()

Title                 0
Sub_title             0
Price                 0
Brand                 0
Model                 1
Edition           76433
Year                  0
Condition             0
Transmission          1
Body               5095
Fuel                  0
Capacity            205
Mileage               0
Location              0
Description       16174
Post_URL              0
Seller_name          98
Seller_type           0
published_date        0
dtype: int64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123971 entries, 0 to 123970
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Title           123971 non-null  object
 1   Sub_title       123971 non-null  object
 2   Price           123971 non-null  object
 3   Brand           123971 non-null  object
 4   Model           123970 non-null  object
 5   Edition         47538 non-null   object
 6   Year            123971 non-null  int64
 7   Condition       123971 non-null  object
 8   Transmission    123970 non-null  object
 9   Body            118876 non-null  object
 10  Fuel            123971 non-null  object
 11  Capacity        123766 non-null  object
 12  Mileage         123971 non-null  object
 13  Location        123971 non-null  object
 14  Description     107797 non-null  object
 15  Post_URL        123971 non-null  object
 16  Seller_name     123873 non-null  object
 17  Seller_type     123971 non-null  object
 18  published_date  123971 non-null  object
dtypes: int64(1), object(18)
memory usage: 18.0+ MB

In [11]:
#relace null shells(?) to NaN
data.replace("?", np.nan, inplace = True)
data.head()

,Title,Sub_title,Price,Brand,Model,Edition,Year,Condition,Transmission,Body,Fuel,Capacity,Mileage,Location,Description,Post_URL,Seller_name,Seller_type,published_date
0,Honda Vezel Limited 2017 for sale,"Posted on 01 Sep 2:45 pm, Kurunegala City, Kur...","Rs 12,900,000",Honda,Vezel,Limited,2017,Used,Automatic,SUV / 4x4,Hybrid,"1,500 cc","37,000 km","Kurunegala City, Kurunegala",HONDA VEZEL LIMITEDCBE-XXXXMANU YEAR : 2017LIM...,https://ikman.lk/en/ad/honda-vezel-limited-201...,Prasad Enterprises,Premium-Member,2022-09-01 14:45:00
1,Jaguar XF Fully Loaded 2013 for sale,"Posted on 28 Sep 10:23 am, Kurunegala City, Ku...","Rs 16,250,000",Jaguar,XF,Fully Loaded,2013,Used,Automatic,Saloon,Diesel,"2,200 cc","42,000 km","Kurunegala City, Kurunegala",1st owner(registered owner)Diesel(13-14km per ...,https://ikman.lk/en/ad/jaguar-xf-fully-loaded-...,Dhanushka Dharmasri,Member,2022-09-28 10:23:00
2,Toyota CHR GT New Face 2wd 2020 for sale,"Posted on 16 Sep 1:16 pm, Colombo 7, Colombo","Rs 17,000,000",Toyota,CHR,GT New Face 2wd,2020,Used,Automatic,SUV / 4x4,Petrol,"1,200 cc","15,000 km","Colombo 7, Colombo",2020 Facelift modelFirst owner (No previous ow...,https://ikman.lk/en/ad/toyota-chr-gt-new-face-...,Carzone Lanka,Member,2022-09-16 13:16:00
3,Toyota CHR Toyato 2017 for sale,"Posted on 30 Sep 10:12 am, Colombo 7, Colombo","Rs 13,000,000",Toyota,CHR,Toyato,2017,Used,Automatic,SUV / 4x4,Petrol,"1,200 cc","21,000 km","Colombo 7, Colombo",Toyota CHR GT Turbo1st owner Imported as a bra...,https://ikman.lk/en/ad/toyota-chr-toyato-2017-...,Carzone Lanka,Member,2022-09-30 10:12:00
4,Toyota Land Cruiser Prado 2015 for sale,"Posted on 30 Sep 9:50 pm, Kelaniya, Gampaha","Rs 33,500,000",Toyota,Land Cruiser Prado,prado,2015,Used,Automatic,SUV / 4x4,Petrol,"2,700 cc","57,000 km","Kelaniya, Gampaha",Toyota Land Cruiser Prado 20152 nd Owner for 5...,https://ikman.lk/en/ad/toyota-land-cruiser-pra...,Shine Music Center,Member,2022-09-30 21:50:00

In [13]:
data.isnull().sum()

Title                 0
Sub_title             0
Price                 0
Brand                 0
Model                 1
Edition           76433
Year                  0
Condition             0
Transmission          1
Body               5095
Fuel                  0
Capacity            205
Mileage               0
Location              0
Description       16174
Post_URL              0
Seller_name          98
Seller_type           0
published_date        0
dtype: int64

In [14]:
data['Edition'].value_counts()

Toyota                 780
G Grade                629
G Superior             608
Suzuki                 390
-                      346
                      ...
106 hilux 4wd            1
SURF 4WD                 1
Extreme Full Option      1
GP2 Navy                 1
G -TURBO                 1
Name: Edition, Length: 15260, dtype: int64

In [17]:
#To replace the missing values of Edition column by "Not mention" 
data['Edition'].replace(np.nan, "Not mention", inplace = True)

In [19]:
#To replace the missing values of Description column by "Not mention" 
data['Description'].replace(np.nan, "Not mention", inplace = True)

In [20]:
#To replace the missing values of Body column by "Not mention" 
data['Body'].replace(np.nan, "Not mention", inplace = True)

In [24]:
#to drop whole rows with capacity value = NaN 
data.dropna(subset=["Capacity"], axis = 0, inplace =True)

#reset index, becusce some rows are droped
data.reset_index(drop = True, inplace = True )

In [25]:
#to drop whole rows with Transmission value = NaN 
data.dropna(subset=["Transmission"], axis = 0, inplace =True)

#reset index, becusce some rows are droped
data.reset_index(drop = True, inplace = True )

In [26]:
#to drop whole rows with Model value = NaN 
data.dropna(subset=["Model"], axis = 0, inplace =True)

#reset index, becusce some rows are droped
data.reset_index(drop = True, inplace = True )

In [29]:
#To replace the missing values of Seller name column by "Not mention" 
data['Seller_name'].replace(np.nan, "Seller_name", inplace = True)

In [30]:
data.isnull().sum()

Title             0
Sub_title         0
Price             0
Brand             0
Model             0
Edition           0
Year              0
Condition         0
Transmission      0
Body              0
Fuel              0
Capacity          0
Mileage           0
Location          0
Description       0
Post_URL          0
Seller_name       0
Seller_type       0
published_date    0
dtype: int64

In [37]:

data['Mileage'] = data['Mileage'].str.replace(',','')
data['Price'] = data['Price'].str.replace(',','')
data['Capacity'] = data['Capacity'].str.replace(',','')

In [39]:
data.head(3)

,Title,Sub_title,Price,Brand,Model,Edition,Year,Condition,Transmission,Body,Fuel,Capacity,Mileage,Location,Description,Post_URL,Seller_name,Seller_type,published_date
0,Honda Vezel Limited 2017 for sale,"Posted on 01 Sep 2:45 pm, Kurunegala City, Kur...",Rs 12900000,Honda,Vezel,Limited,2017,Used,Automatic,SUV / 4x4,Hybrid,1500 cc,37000 km,"Kurunegala City, Kurunegala",HONDA VEZEL LIMITEDCBE-XXXXMANU YEAR : 2017LIM...,https://ikman.lk/en/ad/honda-vezel-limited-201...,Prasad Enterprises,Premium-Member,2022-09-01 14:45:00
1,Jaguar XF Fully Loaded 2013 for sale,"Posted on 28 Sep 10:23 am, Kurunegala City, Ku...",Rs 16250000,Jaguar,XF,Fully Loaded,2013,Used,Automatic,Saloon,Diesel,2200 cc,42000 km,"Kurunegala City, Kurunegala",1st owner(registered owner)Diesel(13-14km per ...,https://ikman.lk/en/ad/jaguar-xf-fully-loaded-...,Dhanushka Dharmasri,Member,2022-09-28 10:23:00
2,Toyota CHR GT New Face 2wd 2020 for sale,"Posted on 16 Sep 1:16 pm, Colombo 7, Colombo",Rs 17000000,Toyota,CHR,GT New Face 2wd,2020,Used,Automatic,SUV / 4x4,Petrol,1200 cc,15000 km,"Colombo 7, Colombo",2020 Facelift modelFirst owner (No previous ow...,https://ikman.lk/en/ad/toyota-chr-gt-new-face-...,Carzone Lanka,Member,2022-09-16 13:16:00

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123764 entries, 0 to 123763
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Title           123764 non-null  object
 1   Sub_title       123764 non-null  object
 2   Price           123764 non-null  object
 3   Brand           123764 non-null  object
 4   Model           123764 non-null  object
 5   Edition         123764 non-null  object
 6   Year            123764 non-null  int64
 7   Condition       123764 non-null  object
 8   Transmission    123764 non-null  object
 9   Body            123764 non-null  object
 10  Fuel            123764 non-null  object
 11  Capacity        123764 non-null  object
 12  Mileage         123764 non-null  object
 13  Location        123764 non-null  object
 14  Description     123764 non-null  object
 15  Post_URL        123764 non-null  object
 16  Seller_name     123764 non-null  object
 17  Seller_type     123764 non-null  object
 18  published_date  123764 non-null  object
dtypes: int64(1), object(18)
memory usage: 17.9+ MB

In [50]:
data['Price'] = data['Price'].str.replace('Rs','')

In [58]:
data['Price'] = data['Price'].str.replace('. ','')

C:\Users\hasin\AppData\Local\Temp\ipykernel_21400\3451015834.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Price'] = data['Price'].str.replace('. ','')

In [66]:
data['Price'].value_counts()

 Negotiable    5492
 5500000        632
 6500000        624
 7500000        496
 8500000        492
               ...
 23050000         1
 2340999          1
 606000           1
 14395000         1
 26595000         1
Name: Price, Length: 3572, dtype: int64

In [70]:
#to drop whole rows with Price = Negotiable
data = data[data["Price"].str.contains("Negotiable") == False]

In [71]:
data['Price'] = pd.to_numeric(data['Price'])
print(data.dtypes)

Title             object
Sub_title         object
Price              int64
Brand             object
Model             object
Edition           object
Year               int64
Condition         object
Transmission      object
Body              object
Fuel              object
Capacity          object
Mileage           object
Location          object
Description       object
Post_URL          object
Seller_name       object
Seller_type       object
published_date    object
dtype: object

In [82]:
data['Capacity'] = pd.to_numeric(data['Capacity'])
print(data.dtypes)

Title              object
Sub_title          object
Price               int64
Brand              object
Model              object
Edition            object
Year                int64
Condition          object
Transmission       object
Body               object
Fuel               object
Capacity          float64
Mileage            object
Location           object
Description        object
Post_URL           object
Seller_name        object
Seller_type        object
published_date     object
dtype: object

In [75]:
data['Capacity'] = data['Capacity'].str.replace('-','')

In [77]:
data['Capacity'].value_counts()

1500    19676
1000    10254
650      7380
2000     6300
1300     5656
        ...
2663        1
5461        1
3636        1
309         1
5475        1
Name: Capacity, Length: 1388, dtype: int64

In [79]:
#to drop whole rows with Capacity = Negotiable
data = data[data["Capacity"].str.contains("Manual") == False]

In [81]:
#to drop whole rows with Capacity = Negotiable
data = data[data["Capacity"].str.contains("Automatic") == False]

In [84]:
data['Mileage'] = data['Mileage'].str.replace('km','')

In [88]:
data['Mileage'] = pd.to_numeric(data['Mileage'])
print(data.dtypes)

Title              object
Sub_title          object
Price               int64
Brand              object
Model              object
Edition            object
Year                int64
Condition          object
Transmission       object
Body               object
Fuel               object
Capacity          float64
Mileage           float64
Location           object
Description        object
Post_URL           object
Seller_name        object
Seller_type        object
published_date     object
dtype: object

In [87]:
data['Mileage'] = data['Mileage'].str.replace('-','')

In [90]:
data.shape

(118260, 19)

In [91]:
data.corr()['Price']

C:\Users\hasin\AppData\Local\Temp\ipykernel_21400\736241161.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()['Price']

Price       1.000000
Year        0.118861
Capacity   -0.002971
Mileage     0.019040
Name: Price, dtype: float64